.soft_hover:hover {
    background:#2fd3ed;
}
.magrin{
    margin-left: 80px;
}
.search {
    margin-bottom: 10px;
    margin-left: 1px;
}
.add {
    margin-bottom: 5px
}
.clock{
    font-size: 12px;
}
.clock:hover{
    color: #9e50ed;
}
.sign {
    margin-bottom: 5px;
    margin-left: 70%;
    font-size: 20px;
}